[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
mysql-connector-python = "*"
requests = "*"
matplotlib = "*"
mplcyberpunk = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.10"
